<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="../public/css/style.css" rel="stylesheet" type="text/css">
  <title>File Metadata Microservices</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col justify-content-center">
        <header class="text-center mb-5"><h2>File Metadata</h2></header>
        <div class="form d-flex justify-content-center" method="post" action="/api/fileanalyse">
          <div class="border w-50 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
            <div class="row mb-1 ms-2">
              <div class="col rounded-start border d-flex align-items-center fw-light label">
                   File Name:
              </div>
              <div class="col-8 fw-semibold">
                  <%=file%>
              </div>
          </div>
          <div class="row mb-1 ms-2">
              <div class="col rounded-start border d-flex align-items-center fw-light label">
                   File Type:
              </div>
              <div class="col-8 fw-semibold">
                  <%=type%>
              </div>
          </div>
          <div class="row ms-2 mb-3">
              <div class="col rounded-start border d-flex align-items-center fw-light label">
                   File Size:
              </div>
              <div class="col-8 fw-semibold">
                  <%=size%>
              </div>
          </div>
          <a href='/' class="btn btn-primary w-100">OK</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>